Repository samtools/htsjdk, pull requests merged in 2018-12, with the labels that each got.

#1215 Add isRefOnlyBlock function...
  src/main/java/htsjdk/variant/variantcontext/Allele.java
  src/main/java/htsjdk/variant/variantcontext/VariantContext.java
  src/test/java/htsjdk/variant/variantcontext/AlleleUnitTest.java
  src/test/java/htsjdk/variant/variantcontext/VariantContextUnitTest.java
Labels: Waiting for revisions

#1234 Replaced several for-each loops in VariantContext.Make() based on HaplotypeCaller profiling
  src/main/java/htsjdk/variant/variantcontext/Genotype.java
  src/main/java/htsjdk/variant/variantcontext/VariantContext.java
Labels: Waiting for revisions

#1231 CRAM: Immutable Block
  src/main/java/htsjdk/samtools/cram/build/ContainerFactory.java
  src/main/java/htsjdk/samtools/cram/build/CramIO.java
  src/main/java/htsjdk/samtools/cram/compression/ExternalCompression.java
  src/main/java/htsjdk/samtools/cram/compression/ExternalCompressor.java
  src/main/java/htsjdk/samtools/cram/encoding/writer/CramRecordWriter.java
  src/main/java/htsjdk/samtools/cram/structure/Block.java
  src/main/java/htsjdk/samtools/cram/structure/CompressionHeader.java
  src/main/java/htsjdk/samtools/cram/structure/Container.java
  src/main/java/htsjdk/samtools/cram/structure/ContainerIO.java
  src/main/java/htsjdk/samtools/cram/structure/Slice.java
  src/main/java/htsjdk/samtools/cram/structure/SliceIO.java
  src/main/java/htsjdk/samtools/cram/structure/block/Block.java
  src/main/java/htsjdk/samtools/cram/structure/block/BlockCompressionMethod.java
  src/main/java/htsjdk/samtools/cram/structure/block/BlockContentType.java
  src/main/java/htsjdk/samtools/cram/structure/block/ExternalBlock.java
  src/test/java/htsjdk/samtools/cram/VersionTest.java
  src/test/java/htsjdk/samtools/cram/structure/BlockTest.java
Labels: Waiting for Review, cram

#1091 Cram implementation reports validation errors at container granularity
  src/main/java/htsjdk/samtools/CRAMIterator.java
  src/test/java/htsjdk/samtools/CRAMIteratorTest.java
  src/test/resources/htsjdk/samtools/cram/ce#containsInvalidRecords.3.0.cram
Labels: Waiting for revisions, cram
